@import '../../App.scss';

.experience {
  display: flex;
  flex-wrap: wrap;
  
  .content {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: $mobile-max) {
  .experience {
    flex-direction: column;

    .content {
      flex-basis: 100%;
    }
  }
}