.about {
  display: flex;
  min-height: 500px;
  
  &.container {
    padding: 50px 0;
  }
  
  .content {
    flex-basis: 60%;
  }

  .timeline-wrapper {
    flex-basis: 40%;
  }
}

@media screen and (max-width: $mobile-max) {
  .about {
    flex-direction: column;

    .content {
      flex-basis: 100%;
      margin-bottom: 25px;
    }
  }
}