@import '../../App.scss';

.about {
  display: flex;
  
  .content {
    flex-basis: 60%;
  }

  .timeline {
    flex-basis: 40%;
  }
}

@media screen and (max-width: $mobile-max) {
  .about {
    flex-direction: column;

    .content {
      flex-basis: 100%;
    }
  }
}