$chs-blue: #00A8FF;

nav * {
    font-weight: 200;
    font-size: 105%;
    color: black;
}

nav.navbar-default {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    background: #EFEFEF;
}

.navbar-collapse {
    background: #EFEFEF;
}

p {
    font-size: 125%;
    font-weight: 200;
}

p.desc {
    font-style: italic;
}

p#resume {
    color: $chs-blue;
}

h3 {
    font-weight: 200;
}

a.resume, a.resume:active, a.resume:visited, span.resume {
    text-decoration: none;
    color: $chs-blue;
    font-size: 140%;
    font-weight: 200;
}

span.resume {
    color: black;
}

.row {
    margin: 2.5% 0;
}

section {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 50px;
}

img.center {
    margin: 0 auto;
}

hr.primary {
    width: 25%;
    background-color: $chs-blue;
    height: 2px;
}

hr.divider {
    height: 1px;
    background-color: #EFEFEF;
    width: 80%;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#splash {
    background: url('background.png');
    background-position:50% 50%;
    background-size: cover;
    height: 800px;
    color: white;
}

#splashTextWrapper {
    height: 250px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 30%;
}

#splashTextWrapper span#name {
    font-size: 3.5em;
    font-weight: 200;
}

#splashTextWrapper span#desc {
    font-size: 2em;
    font-weight: 100;
}

#splashTextWrapper strong {
    font-weight: 200;
}

#splashTextWrapper a.btn {
    color: white;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    font-size: 140%;
    font-weight: 100;
    background: transparent;
    margin-top: 20px;
}

.chart {
    width: 75%;
    margin-top: 5%;
}

// Form styles
form {
    margin: 10% auto;
}

form input, textarea {
    width: 100%;
    height: 50px;
    margin: 5px auto;
    padding-left: 5px;
    font-size: 130%;
    font-weight: 200;
    color: $chs-blue;
    border: 1px solid #EFEFEF;
}

form textarea {
    height: 200px;
    resize: none;
}

form #success-message {
    color: $chs-blue;
    display: none;
}

form button {
    width: 100%;
    background: $chs-blue;
    color: white;
    border: none;
    height: 50px;
    font-size: 160%;
    font-weight: 200;
}

a.generic-link, a.generic-link:active, a.generic-link:visited, a.generic-link:hover {
    text-decoration: none;
    color: $chs-blue;
}

#footer {
    background: $chs-blue;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 130%;
    font-weight: 200;
}

iframe#hmi {
    width: 100%;
}