@import "../../App.scss";

.spinner-wrapper {
  margin: 25px auto;

  .spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid $blue;
    margin: auto;
    @include spin;
  }
}
