.experience-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  padding-top: 50px;

  .arrow {
    width: 20px;
    height: 20px;
    border-left: 6px solid $blue;
    border-top: 6px solid $blue;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    margin-left: -13px;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: $blue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .experience-timeline-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px 0;

    p {
      margin: 0;

      &:first-child {
        font-weight: bold;
        margin-bottom: 5px;
      }

      &:nth-child(2) {
        font-style: italic;
      }
    }

    img {
      position: absolute;
      width: 50px;
      height: 50px;
      border: 2px solid $blue;
      border-radius: 50%;
      z-index: 1;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      cursor: pointer;
      padding: 5px;
      background: white;

      &:hover {
        // TODO fix choppy animation in Safari
        // animation: pulse 2s infinite;
      }
    }

    .experience-timeline-item-content {
      background: #efefef;
      padding: 20px;
    }

    & > div {
      flex-basis: 50%;
      position: relative;
    }

    &:nth-child(odd) {
      justify-content: flex-start;

      & > div {
        .experience-timeline-item-content {
          text-align: right;
          margin-right: 40px;
        }

        img {
          left: unset;
          right: 0;
          transform: translateX(50%);
        }
      }
    }

    &:nth-child(even) > div {
      .experience-timeline-item-content {
        text-align: left;
        margin-left: 40px;
      }

      text-align: left;
      justify-content: flex-end;
    }
  }

  .gradient {
    height: 15px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

@media screen and (max-width: $mobile-max) {
  .experience-timeline {
    padding-top: 0;

    .arrow,
    &:after {
      display: none;
    }

    .experience-timeline-item {
      flex-basis: 100%;
      margin: 10px 0;

      &:nth-child(2) {
        margin-top: 0;
        padding-top: 0;
      }

      & > div {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          flex-basis: 100%;
          width: 100px;
          height: 100px;
          position: relative;
          transform: none !important;
          margin-bottom: 25px;
        }

        .experience-timeline-item-content {
          text-align: center !important;
          margin: 0 !important;
        }
      }
    }
  }
}
