@import '../../App.scss';

.header {
  height: 400px;
  background: linear-gradient(-269deg, $blue 0%, #000000 100%);
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    h1, h2 {
      color: rgba(255,255,255,0.55);
      font-size: 40px;
      margin: 0;
      font-weight: normal;

      &:first-child {
        font-size: 60px;

        .bold {
          color: white;
        }
      }
    }
  }

  img {
    width: 250px;
    border-radius: 50%;
  }
}