.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px 0;

  .arrow {
    width: 20px;
    height: 20px;
    border-left: 6px solid $blue;
    border-top: 6px solid $blue;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    margin-left: -13px;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: $blue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .timeline-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px 0;

    p {
      margin: 0;
      margin-left: 25px;

      &:first-child {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: $blue;
      left: 50%;
      border-radius: 50%;
      z-index: 1;
      margin-left: -12.5px;

      // TODO fix choppy animation in Safari
      // animation: pulse 2s infinite;
    }

    & > div {
      flex-basis: 50%;
      position: relative;
    }

    &:nth-child(odd) {
      justify-content: flex-start;

      & > div {
        text-align: right;
        p {
          margin-left: 0;
          margin-right: 25px;
        }
      }
    }

    &:nth-child(even) > div {
      padding-left: 40px;
      text-align: left;
      justify-content: flex-end;
    }
  }

  .gradient {
    height: 20px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}
