$blue: #40485D;
$mobile-max: 850px;

body {
  margin: 0;
  background: white;
}

* {
  font-family: 'Noteworthy', Helvetica;
  font-weight: normal;
  color: $blue;
}

strong {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1040px;
  padding: 30px 0;
  margin: auto;

  h2 {
    font-size: 40px;
    margin-top: 0;
  }
  
  p {
    font-size: 20px; 
  }
}

a {
  text-decoration: none;
  color: $blue;

  &.active {
    font-weight: bold;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: $mobile-max) {
  .container {
    text-align: center;
    width: 80%;
  }

  .hide-mobile {
    display: none;
  }
}
