$blue: #40485d;
$mobile-max: 850px;

body {
  margin: 0;
  background: white;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: $blue;
}

p,
span {
  font-weight: lighter;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

p {
  font-size: 20px;
}

.container {
  width: 100%;
  max-width: 1040px;
  padding: 30px 0;
  margin: auto;

  h2 {
    font-size: 40px;
    margin-top: 0;
  }

  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: $blue;

  &.active {
    font-weight: bold;
  }
}

@mixin scaleOnHover {
  transition: all linear 0.2s;
  transform-origin: center;

  &:hover {
    transform: scale(1.05);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

$c1: rgba(64, 72, 93, 0.4);
$c2: rgba(64, 72, 93, 0);

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $c1;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px $c2;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 $c2;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 $c1;
    box-shadow: 0 0 0 0 $c1;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px $c2;
    box-shadow: 0 0 0 10px $c2;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 $c2;
    box-shadow: 0 0 0 0 $c2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 1.5s ease infinite;
}

@media screen and (max-width: $mobile-max) {
  .container {
    text-align: center;
    width: 80%;
  }

  .hide-mobile {
    display: none;
  }
}
